<header>
    <div class="container">
        <div class="header d-lg-flex justify-content-between align-items-center py-2 px-sm-2 px-1">

            <div id="logo">
                <h1 style="color: #ff5722;">
                    <a style="color: #ff5722;" href="/">PROJECT</a>
                </h1>
            </div>

            <div class="nav_w3ls ml-lg-5">
                <nav>
                    <label for="drop" class="toggle" style="margin-top: -8px;">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu">
                        <li><a class="link-nav" routerLink="/">HOME</a></li>
                        <li><a class="link-nav" routerLink="/login">LOGIN</a></li>
                        <li><a class="link-nav" routerLink="/register">REGISTER</a></li>
                        <li class="border-side"><a class="primary-color" routerLink="/catalogs">REQUEST A TUTOR</a></li>
                        <li class="fill"><a class="color-white" routerLink="/register/tutor">JOIN AS A TUTOR</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</header>