.add-card {
    /* background: #e8f1fa; */
    min-height: 200px;
    padding: -24px;
}

.white-card {
    background: #FFFFFF;
}

.mat-dialog-container {
    background: #e8f1fa;
}

.mat-form-field {
    width: 100%;
}

.grey-text {
    color: #707070;
}

.no-margin {
    margin-left: 0px;
    margin-right: 0px;
}

form {
    width: 100%;
}

.margin-top-text {
    margin-top: 8px;
}

.vs-round-btn {
    border-radius: 20px !important;
    min-width: 150px;
}

.greyer-text {
    color: #5b5b5b;
    font-weight: 450;
    margin-bottom: 0px;
}