<app-navbar></app-navbar>
<section class="gray-bg" style="padding-top: 150px; padding-bottom: 32px; min-height: 85vh;">
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <div style="background-color: #ffffff; padding:32px; border-radius: 15px;">
                    <h2 class="title">Login to begin</h2>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group">
                            <input type="email" formControlName="email" required class="form-control" placeholder="Enter your account email">
                        </div>
                        <div class="form-group">
                            <input type="password" formControlName="password" required class="form-control" placeholder="Enter your account password">
                        </div>
                        <div class="form-group">
                            <button [disabled]="loading" class=" btn-block btn-app">LOGIN <i *ngIf="loading" class="fa fa-spin fa-spinner"></i></button>
                        </div>
                        <!-- <div class="form-group text-center" style="margin-top:32px">
                            <button type="button" style="border-radius: 5rem;" class="btn-app-contract"> <I class="fa fa-google"></I> LOGIN WITH GOOGLE</button>
                        </div> -->
                    </form>

                </div>
                <div class="text-center" style="margin-top:22px">
                    <p>I forgot password?</p>
                    <div class="form-group text-center" style="margin-top:22px">
                        <button routerLink="/register" type="button" style="border-radius: 5rem;" class="btn-app-secondary"> CREATE STUDENT ACCOUNT</button>
                    </div>
                    <div class="form-group text-center" style="margin-top:22px">
                        <button routerLink="/register/tutor" type="button" style="border-radius: 5rem;" class="btn-app"> CREATE TUTOR ACCOUNT</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>