<div class="container-fluid">

    <div *ngIf="success" class="row" style="margin:0px;">
        <div class="col-md-4 margin-bottom">
            <div class="panel-shadow-header card-info">
                <div class="row">
                    <div class="col-9">
                        <h3 class="tab-indicator-active"><span *ngIf="data.currency=='NGN'">&#8358;</span><span *ngIf="data.currency=='USD'">$</span>{{data.transtotal | number:"1.2-2"}}</h3>
                        <p class="tab-indicator-active">Total Earning</p>
                    </div>
                    <div class="col-3 text-center">
                        <mat-icon class="icons tab-indicator-active">credit_card</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 margin-bottom">
            <div class="panel-shadow-header card-info">
                <div class="row">
                    <div class="col-9">
                        <h3 class="tab-indicator-active"><span *ngIf="data.currency=='NGN'">&#8358;</span><span *ngIf="data.currency=='USD'">$</span>{{data.payoutstotal | number:"1.2-2"}}</h3>
                        <p class="tab-indicator-active">Total Payouts</p>
                    </div>
                    <div class="col-3 text-center">
                        <mat-icon class="icons tab-indicator-active">credit_card</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 margin-bottom">
            <div class="panel-shadow-header card-info">
                <div class="row">
                    <div class="col-9">
                        <h3 class="tab-indicator-active"><span *ngIf="data.currency=='NGN'">&#8358;</span><span *ngIf="data.currency=='USD'">$</span>{{(data.transtotal - data.payoutstotal) | number:"1.2-2"}}</h3>
                        <p class="tab-indicator-active">Balance</p>
                    </div>
                    <div class="col-3 text-center">
                        <mat-icon class="icons tab-indicator-active">credit_card</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12" style="margin:0px; margin-top: 16px;">
            <div class="panel-shadow-header card-white" style="width:100%;">
                <div style="width:100%;">

                    <table mat-table matSort [dataSource]="dataSource">

                        <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->


                        <!-- Name Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> S/N </th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <div>
                                    {{i + 1}}
                                </div>
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <!-- <ng-container matColumnDef="user">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> User</th>
                            <td mat-cell *matCellDef="let element">
                                <a routerLink="/learners/details/{{element.user.userid}}"><img src="{{FILEURL}}{{element.user.avatar}}" width="30" /> {{element.user.fullname}} </a>
                            </td>
                        </ng-container> -->
                        <!-- Name Column -->
                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                            <td mat-cell *matCellDef="let element"><span *ngIf="element.currency=='NGN'">&#8358;</span><span *ngIf="element.currency=='USD'">$</span>{{element.amount | number:"1.2-2" }}</td>
                        </ng-container>
                        <!-- Name Column -->
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                        </ng-container>
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                            <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                </div>

                <mat-paginator style="width:100%; " [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>

    </div>
    <div class="row" *ngIf="failure">
        <div class="col-12">
            <app-nework-failure (retry)="ngOnInit()"></app-nework-failure>
        </div>
    </div>

    <div class="row" *ngIf="loader">
        <div class="col-12">
            <app-loading></app-loading>
        </div>
    </div>
</div>