.gray-bg {
    background-color: #efefee;
}

.padding-top {
    padding-top: 48px;
}

.padding-bottom {
    padding-bottom: 48px;
}

.title {
    font-size: 32px;
    font-weight: 700;
}

.text-body {
    font-size: 18px;
}